<?xml version="1.0" encoding="UTF-8" ?>
<launch>
        <arg name="world_name" default="virtual_ralt_standalone.world"/>
        <arg name="world_path" default="$(find tmc_wrs_gazebo_worlds)/worlds"/>

        <arg name="gazebo_gui" default="true"/>



        <arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" />
        <include file="$(find hsrb_gazebo_launch)/launch/include/hsrb_gazebo_common.xml" pass_all_args="true" >
                <arg name="map" value="$(find tmc_potential_maps)/maps/white_space/map.yaml" />
                <arg name="world_name" value="$(arg world_path)/$(arg world_name)" />
                <arg name="robot_pos" value="-x 0 -y 0 -z 0 -Y 0" />
                <arg name="use_laser_odom" value="true" />
        </include>

        <!-- moveit-->
        <include file="$(find hsrb_moveit_config)/launch/hsrb_demo_with_controller.launch">
        <arg name="use_gui" value="false"/>
        <arg name="load_robot_description" value="false"/>
        </include>

        <!-- rosnav -->
        <include file="$(find hsrb_rosnav_config)/launch/hsrb_nav.launch">
        <arg name="map_file" value="$(arg map)"/>
        <arg name="localization_type" value="iris_lama_loc2d"/>
        </include>

        <!-- pose_to_odom -->
        <node pkg="topic_tools" type="relay" name="odom_relay"
                args="/hsrb/laser_odom /hsrb/odom" if="$(arg use_laser_odom)" />
        <node pkg="topic_tools" type="relay" name="odom_relay"
                args="/hsrb/offset_diff_drive_controller/odom /hsrb/odom" unless="$(arg use_laser_odom)" />

</launch>
